<ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a class="active">Contact</a></li>
    <li style="float:right"><a href="/about">About</a></li>
</ul>
<div class="main">
    <img id="logo" src="images/beter-min.png" alt="ðŸ…±ï¸ enry SðŸ…±ï¸ eak Logo" title="ðŸ…±ï¸enry SðŸ…±ï¸eak Logo">
</div>
<form id="commentForm" action="/comment/upload" method="POST">
    Name: <textarea maxlength="20" name="author" cols="15" rows="1" style="margin-top:10px" placeholder="Enter text here" id="nameTextField"></textarea>
    Title: <textarea maxlength="20" name="title" cols="30" rows="1" style="margin-top:10px" placeholder="Enter text here" id="titleTextField"></textarea>
    <br>
    Body <textarea maxlength="1500" name="body" cols="80" rows="7" style="margin-top:10px" placeholder="Enter comment here" id="commentTextField"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>
<br>
<hr>
<div id="commentContainer">
    <ul id="commentList">
        {{#each comments}}
            <div class="comment">
                <h1 class="commentTitle">{{this.title}}</h1>
                <p class="commentName">from <strong>{{this.author}}</strong></p>
                <div class="commentText">
                    <p>{{this.body}}</p>
                </div>
            </div>
            <br>
        {{/each}}
    </ul>
</div>