<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <script src="https://code.responsivevoice.org/responsivevoice.js?key=CoKS4m7Z"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
