body {
  box-sizing: border-box;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  margin: 0;
}

.main {
  display: flex;
  text-align: center;
  margin-top: 70px;
}

#logo {
  display: flex;
  width: 40em;
  height: 11em;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0 auto;
}

textarea {
  resize: none;
}

p1 {
  font-family: "Comic Sans MS", cursive, sans-serif;

}

#bransbate {
  margin-top: 0.5%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  /*border-radius:0;
  border:1px solid black;*/
  transition: 0.3s;
}

#bransbate:hover {
  color: red;
  /*border-color:red;*/
}

#bransbate:active {
  background-image: url(../images/picklerick.png);
  background-size: contain;
  color: rgba(0, 0, 0, 0);
}

#check {
  width: 10%;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  /*margin-left:58%;*/
  /*background-color:red;*/
}

#directbox {
  /*position:absolute;
  top:80.5%;
  left:14%;
  width:55%;*/
  margin: 0;
  padding-right: 1%;
  /*background-color:blue;*/
}

#bete {
  width: 50%;
  /*position:absolute;
  top:2%;
  left:30%;*/
  transition: 0.1s;
  opacity: 1;
}

#bete:hover {
  width: 60%;
  transition: 0.1s;
}

#bete:active {
  opacity: 0.8;
}

#boxyboy {
  position: absolute;
  top: 10%;
  left: 0%;
}

#directo {
  font-size: 78%;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bolder;
  color: crimson;
  float: right;
  margin: 0;
  margin-top: 0.5%;
  padding: 0;
}

.holdshit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

textarea {
  border-radius: 5%;
  padding: 1%;
  border: 2px solid crimson;
  width: 100%;
}

div#output {
  border-radius: 5%;
  padding: 1%;
  border: 2px solid darkblue;
  width: 100%;
}

/*#directions{
    /*position:absolute;*/
/*top:-2px;
}*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

li {
  margin-top: 0.5em;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.9em;
  transition: 0.3s;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
}

li a:hover {
  background-color: white;
  color: red;
  transition: 0.3s;
}

li a.active {
  background-color: white;
  color: red;
}

#textLink {
  color: red;
  text-decoration: none;
  transition: 0.3s;
}
#textLink:hover {
  border-bottom: 2px solid blue;
}

#ioContainer {
  width: 40%;
  display: inline-block;
}

#commentForm {
  width: 40%;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
  text-align: center;
}

#nameTextField {
  border: 2px solid darkblue;
  display: inline-block;
  padding-right: 20px;
}

#titleTextField {
  border: 2px solid darkblue;
  display: inline-block;
  padding-left: 20px;
}

#commentTextField {
  border: 2px solid dodgerblue;
}

h1.commentTitle{
  display: inline-block;
  margin-bottom:0.2em;
}

p.commentName{
  display: inline;
}

div.comment{
  text-align: left;
  display: inline-block;
  width: 100%;
}

div.commentText{
  border: 2px solid blue;
  text-align: center;
  border-radius: 5%;
}

ul#commentList {
  width: 40%;
  background: white;
  text-align: center;
  display: inline-block;
}

div#commentContainer {
  width: 100%;
  text-align: center;
}